<!DOCTYPE html>
<html ng-app="app">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Letter Swipe</title>
    <link rel="stylesheet" href="scripts/vendor/bootstrap-yeti.css">
    <style>
        .tile {
            -webkit-transition:0.5s linear all;
            transition:0.5s linear all;

            float: left;
            text-align: center;
            line-height: 3em;
            font-size: 30px;
            display: inline-block;
            border: 1px solid #000000;
            width: 100px;
            height: 100px;
            margin: 0px;
            background-color: lightsteelblue;
        }

        .tile.active {
            -webkit-transition:0.0s linear all;
            transition:0.0s linear all;
            background-color: #0000ff;
            color: white;
        }

        .tile.playable {
            background-color: lightgreen;
        }

        .tile.playable.disabled {
            background-color: #d3d3d3;
        }


        @keyframes highlight {
            0% {
                background-color: red
            }
            100% {
                background-color: white;
            }
        }

        @-webkit-keyframes highlight {
            0% {
                background: #0000ff;
            }
            100% {
                background: none;
            }
        }

        .tile.playable.ng-click-active {
            animation: highlight;
            -webkit-animation: highlight 0.1s;
        }

    </style>
</head>

<body style="padding-top: 80px; padding-bottom: 30px;" ng-controller="MainCtrl">

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation" ng-controller="NavCtrl">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Letter Swipe</a>
        </div>
        <div class="collapse navbar-collapse" collapse="navCollapsed">
            <ul class="nav navbar-nav">
                <li ng-class="{ active: isActive('/')}"><a href="#">Game</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>

<div class="container" ng-controller="GameCtrl">

    <div class="hidden-md hidden-lg">
        <h2 ng-hide="gameOver" style="color: #0000ff; font-weight: bold;">Next Tile: {{ nextLetter }}</h2>
        <h1 ng-show="gameOver" style="color: #ff0000; font-weight: bold">Game Over!</h1>
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-8" style="width: 630px; padding-top: 30px;">
            <div style="clear: both;">
                <div class="tile" style="border: none; background: none;"></div>
                <div class="tile playable" ng-click="playTileDown(0)" ng-class="{'disabled': !canPlayColumn(0)}"></div>
                <div class="tile playable" ng-click="playTileDown(1)" ng-class="{'disabled': !canPlayColumn(1)}"></div>
                <div class="tile playable" ng-click="playTileDown(2)" ng-class="{'disabled': !canPlayColumn(2)}"></div>
                <div class="tile playable" ng-click="playTileDown(3)" ng-class="{'disabled': !canPlayColumn(3)}"></div>
                <div class="tile" style="border: none; background: none;"></div>
            </div>
            <div ng-repeat="x in indexes" style="clear: both;" ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}">
                <div class="tile playable" ng-click="playTileRight(x)" ng-class="{'disabled': !canPlayRow(x)}"></div>
                <div ng-repeat="y in indexes" class="tile" ng-class="{'active': isTileActive(y, x)}">
                    &nbsp;{{ grid[x][y] }}&nbsp;
                </div>
                <div class="tile playable" ng-click="playTileLeft(x)" ng-class="{'disabled': !canPlayRow(x)}"></div>
            </div>
            <div style="clear: both;">
                <div class="tile" style="border: none; background: none;"></div>
                <div class="tile playable" ng-click="playTileUp(0)" ng-class="{'disabled': !canPlayColumn(0)}"></div>
                <div class="tile playable" ng-click="playTileUp(1)" ng-class="{'disabled': !canPlayColumn(1)}"></div>
                <div class="tile playable" ng-click="playTileUp(2)" ng-class="{'disabled': !canPlayColumn(2)}"></div>
                <div class="tile playable" ng-click="playTileUp(3)" ng-class="{'disabled': !canPlayColumn(3)}"></div>
                <div class="tile" style="border: none; background: none;"></div>
            </div>
        </div>

        <div class="col-xs-12 col-md-4">
            <div class="col-xs-12">
                <div class="hidden-xs hidden-sm">
                    <h1 ng-hide="gameOver" style="color: #0000ff; font-weight: bold;">Next Tile: {{ nextLetter }}</h1>
                    <h1 ng-show="gameOver" style="color: #ff0000; font-weight: bold">Game Over!</h1>
                </div>
                <div class="col-xs-12" style="padding: 0px; margin-top: 20px;">
                    <div style="width: 45%; float: left;">
                        <h4><b>Matches: {{ matches }}</b></h4>
                        <h5><b>Doubles: {{ doubles }}</b></h5>
                        <h5><b>Clears: {{ clears }}</b></h5>
                        <hr/>
                        <h4>Last {{ maxLetterHistory }} Tiles:</h4>
                        <span ng-repeat="letter in letterHistory track by $index">{{ letter }} </span>
                    </div>
                    <div style="width: 45%; float: left; padding: 10px; border-left: 1px solid #d3d3d3; margin-left: 10px;">
                        <h4>Tile Counts:</h4>
                        <p ng-repeat="(letter, count) in letterCount track by $index">{{ letter }}: {{ count }} </p>
                    </div>
                </div>




            </div>
            <div class="col-xs-12">
                <hr/>
                <h1>How to Play</h1>
                <p>1) Select a green square to play the Next Tile in that row or column.</p>
                <p>2) Make "<span ng-repeat="letter in letters track by $index">{{letter}}</span>"  to get a match and remove those tiles.</p>
            </div>
        </div>
    </div>

</div>

<script src="scripts/vendor/angular.js"></script>
<script src="scripts/vendor/angular-touch.js"></script>
<script src="scripts/vendor/angular-animate.js"></script>
<script src="scripts/vendor/ui-bootstrap-tpls-0.9.0.js"></script>
<script src="scripts/vendor/mousetrap.js"></script>
<script src="scripts/controllers.js"></script>

<script>
    var app = angular.module('app', ['ngTouch', 'ngAnimate', 'ui.bootstrap'], null);
    app.directive('ngEnter', function () {
        return function (scope, element, attrs) {
            element.bind("keydown keypress", function (event) {
                if(event.which === 13) {
                    scope.$apply(function (){
                        scope.$eval(attrs.ngEnter);
                    });

                    event.preventDefault();
                }
            });
        };
    });
    app.filter('toArray', function () {
        'use strict';

        return function (obj) {
            if (!(obj instanceof Object)) {
                return obj;
            }

            return Object.keys(obj).map(function (key) {
                return Object.defineProperty(obj[key], '$key', {__proto__: null, value: key});
            });
        }
    });
    app.filter('checkmark', function() {
        return function(input) {
            return input ? '\u2713' : '\u2718';
        };
    });

    function GameCtrl($scope) {


        $scope.status = 'Ready.';

        $scope.letters = ['D', 'U', 'K', 'E'];
        $scope.size = $scope.letters.length;

        // indexes for ng-repeat in view.
        $scope.indexes =[];
        for(var i = 0; i < $scope.size; i++)
            $scope.indexes.push(i);

        $scope.grid = [
            [$scope.letters[0], '', '', ''],
            ['', $scope.letters[1], '', ''],
            ['', '', $scope.letters[2], ''],
            ['', '', '', $scope.letters[3]]
        ];


        $scope.letterCount = {};
        $scope.letters.forEach(function (letter) {
            $scope.letterCount[letter] = 0;
        });

        $scope.maxLetterHistory = 12;
        $scope.letterHistory = [];
        $scope.letters.forEach(function (letter) {
            $scope.letterHistory.push(letter);
            $scope.letterCount[letter]++;
        });



        $scope.nextLetter = getRandomLetter();
        $scope.matches = 0;
        $scope.doubles = 0;
        $scope.clears = 0;


        $scope.isTileActive = function(x, y) {

            return $scope.grid[y][x] !== '';

        };

        $scope.canPlayRow = function (y) {
            if($scope.gameOver)
                return false;

            for(var x = 0; x < $scope.size; x++) {
                if($scope.grid[y][x] === '')
                    return true;
            }

            return false;
        };

        $scope.canPlayColumn = function (x) {
            if($scope.gameOver)
                return false;

            for(var y = 0; y < $scope.size; y++) {
                if($scope.grid[y][x] === '')
                    return true;
            }

            return false;
        };

        $scope.playTileDown = function (x) {

            if(!$scope.canPlayColumn(x))
                return;

            for(var y = $scope.size - 2; y >= 0; y--)
            {
                if($scope.grid[y+1][x] === ''){
                    $scope.grid[y+1][x] = $scope.grid[y][x];
                    $scope.grid[y][x] = '';
                }
            }

            assignLetter(x, 0);
            checkScore();
        };

        $scope.playTileUp = function (x) {
            if(!$scope.canPlayColumn(x))
                return;

            for(var y = 1; y < $scope.size; y++)
            {
                if($scope.grid[y-1][x] === ''){
                    $scope.grid[y-1][x] = $scope.grid[y][x];
                    $scope.grid[y][x] = '';
                }
            }

            assignLetter(x, $scope.size -1);
            checkScore();
        };

        $scope.playTileLeft = function (y) {
            if(!$scope.canPlayRow(y))
                return;

            for(var x = 1; x < $scope.size; x++)
            {
                if($scope.grid[y][x-1] === ''){
                    $scope.grid[y][x-1] = $scope.grid[y][x];
                    $scope.grid[y][x] = '';
                }
            }

            assignLetter($scope.size -1, y);
            checkScore();
        };

        $scope.playTileRight = function (y) {
            if(!$scope.canPlayRow(y))
                return;

            for(var x = $scope.size-2; x >= 0; x--)
            {
                if($scope.grid[y][x+1] === ''){
                    $scope.grid[y][x+1] = $scope.grid[y][x];
                    $scope.grid[y][x] = '';
                }
            }

            assignLetter(0, y);
            checkScore();
        };

        function assignLetter(x, y) {
            $scope.grid[y][x] = $scope.nextLetter;

            $scope.letterHistory.push($scope.nextLetter);
            if($scope.letterHistory.length > $scope.maxLetterHistory)
                $scope.letterHistory.shift();

            $scope.letterCount[$scope.nextLetter]++;

            $scope.nextLetter = getRandomLetter();
        }

        function getRandomInt(min, max) {
            return Math.floor(Math.random() * (max - min + 1)) + min;
        }

        function getRandomLetter() {



            // Make sure every letter exists in letter history (prevent letter desert).
            var counts = {};
            counts[$scope.letters[0]] = 0;
            counts[$scope.letters[1]] = 0;
            counts[$scope.letters[2]] = 0;
            counts[$scope.letters[3]] = 0;

            var nextLetter = null;
            $scope.letterHistory.forEach(function (letter) { counts[letter]++; })
            for(var letter in counts) {
                if(counts[letter] === 0)
                    nextLetter = letter;
            }

            var maxLetter = $scope.letters[getRandomInt(0, $scope.letters.length - 1)];
            var minLetter = $scope.letters[getRandomInt(0, $scope.letters.length - 1)];
            for(var letter in $scope.letterCount) {
                if($scope.letterCount[letter] > $scope.letterCount[maxLetter])
                    maxLetter = letter;
                else if($scope.letterCount[letter] < $scope.letterCount[minLetter])
                    minLetter = letter;
            }

            // Prevent letter desert.
            if($scope.letterCount[maxLetter] - $scope.letterCount[minLetter] > 6)
                nextLetter = minLetter;

            if(!nextLetter)
                nextLetter = $scope.letters[getRandomInt(0, $scope.letters.length - 1)];

            if(counts[nextLetter] > ($scope.maxLetterHistory / Object.keys($scope.letterCount).length)) // prevent letter desert
                return getRandomLetter();


            return nextLetter;
        }

        function checkScore() {
            var grid = $scope.grid;
            var matchedRows = [];
            var matchedColumns = [];

            for(var x = 0; x < $scope.size; x++) {
                if(grid[0][x] === $scope.letters[0] && grid[1][x] === $scope.letters[1] && grid[2][x] === $scope.letters[2] && grid[3][x] === $scope.letters[3]) {
                    $scope.matches++;
                    matchedColumns.push(x);
                }
            }

            for(var y = 0; y < $scope.size; y++) {
                if(grid[y][0] === $scope.letters[0] && grid[y][1] === $scope.letters[1] && grid[y][2] === $scope.letters[2] && grid[y][3] === $scope.letters[3]) {
                    $scope.matches++;
                    matchedRows.push(y);
                }
            }

            // Clear matched columns and rows.
            matchedColumns.forEach(function (x) {
                grid[0][x] = grid[1][x] = grid[2][x] = grid[3][x] = '';
            });
            matchedRows.forEach(function (y) {
                grid[y][0] = grid[y][1] = grid[y][2] = grid[y][3] = '';
            });


            var isCleared = true;
            // check for cleared board
            for(var x = 0; x < $scope.size; x++) {
                for(var y = 0; y < $scope.size; y++) {
                    if(grid[y][x] !== '')
                        isCleared = false;
                }
            }


            if(isCleared)
                $scope.clears++;

            if(matchedColumns.length + matchedRows.length > 1)
                $scope.doubles++;

            if($scope.isGameOver())
                $scope.gameOver = true;
        };

        $scope.isGameOver = function() {
            for(var x = 0; x < $scope.size; x++) {
                for (var y = 0; y < $scope.size; y++) {
                    if($scope.grid[x][y] === '')
                        return false;
                }
            }
            return true;
        };


        Mousetrap.bind('left', function() {
            $scope.$apply(function() {
                $scope.swipeLeft();
            });
        });

        Mousetrap.bind('right', function() {
            $scope.$apply(function() {
                $scope.swipeRight();
            });
        });

        Mousetrap.bind('up', function() {
            $scope.$apply(function() {
                $scope.swipeUp();
            });
        });

        Mousetrap.bind('down', function() {
            $scope.$apply(function() {
                $scope.swipeDown();
            });
        });



    }

</script>

</body>
</html>